PORT=3000
JWT_SECRET=change_me
DB_NAME=defaultdb
DB_HOST=mysql-blog-iamanton45.d.aivencloud.com
DB_PORT=25339
DB_USER=avnadmin
DB_PASSWORD=your_password
DB_SSL=true
CLIENT_ORIGIN=http://127.0.0.1:4173,https://yourusername.github.io
